<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
    <ion-thumbnail slot="start">
        <ion-img [src]="offer.imgUrl"></ion-img>
    </ion-thumbnail>
    <ion-label>
        <h2>{{ offer.title }}</h2>
        <div class="offer-details">
            <ion-icon name="calendar" color="secondary"></ion-icon>
            <ion-text color="primary" class="ml5">{{ offer.availableFrom | date }}</ion-text>
            <span class="ml5">to</span>
            <ion-icon name="calendar" color="secondary" class="ml5"></ion-icon>
            <ion-text color="primary" class="ml5">{{ offer.availableTo | date }}</ion-text>
        </div>
    </ion-label>
</ion-item>
